@font-face {
    font-family: Comic;
    src:
        url("assets/fonts/Comic-Sans-MS.ttf") format("ttf"),
        url("assets/fonts/Comic-Sans-MS.ttf") format("ttf");
}

@mixin Comic($size, $weight, $line-height: normal) {
    font-family: Comic;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}


